body {
    margin: 0;
    font-family: "poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    font-size: 16px;
    color: var(--Off-black) !important;
    background-color: var(--Light-grey) !important;
}

#root {
    height: 100%;
}

:root {
    --Purple: hsl(259, 100%, 65%);
    --Red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

@font-face {
    font-family: "poppins";
    src: url("assets/fonts/Poppins-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "poppins";
    src: url("assets/fonts/Poppins-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "poppins";
    src: url("assets/fonts//Poppins-Italic.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "poppins";
    src: url("assets/fonts//Poppins-BoldItalic.ttf");
    font-weight: 800;
    font-style: italic, oblique;
}
